{% extends 'base.html' %}
{% load static %}

{% block body %}

{% if erro == "preenchimento" %}

    <p>Prencha todas as informações do formulário corretamente para criar uma conta</p>

{% endif %}

{% if erro == "email_ivalido" %}

    <p>Seu e-mail está inválido, tente novamente com outro e-mail</p>

{% endif %}

{% if erro == "usuario_existente" %}

    <p>Já existe um usuário com esse e-mail, <a href="{% url 'fazer_login' %}">faça login</a></p>

{% endif %}

{% if erro == "senhas_diferentes" %}

    <p>Senha e confirmação de senha não são iguais, tente novamente</p>

{% endif %}

<h3>Preencha seus dados para criar uma contan</h3>

<form action="{% url 'criar_conta' %}" method="POST">
    {% csrf_token %}
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="senha" placeholder="Senha">
    <input type="password" name="confirmacao_senha" placeholder="Confirmação da Senha">
    <button type="submit">Criar Conta</button>
</form>

<a href="{% url 'fazer_login' %}">Já tem uma conta? Fazer login</a>
{% endblock %}